.top{
    background-color: #736FFF;
    height: 20vw;
    text-align: center;
    font-family: 'Bungee', cursive; 
    color: white;
    line-height: 100%;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.part{
    background-color: #736FFF;
    height: 100%;
    font-family: 'Bungee', cursive; 
    color: white;
    line-height: 100%;
    align-items: center;
    border-style: solid;
    border-width: 5px;
    border-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center
}

.screenshot{
    flex:1;
    text-align: center;
}

.reason{
    flex:1;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 200%;
    padding-left: 20px;
    text-align: center;
}

h1{
    font-family: 'Bungee', cursive; 
    color: white;
    text-align: center;
    align-items: center;
    font-size: 5vw;
}

h2{
    text-align: center;
    font-size: 3vw;
    font-family: Work Sans, sans-serif;
    padding-top: 2.5%;
}

h3{
    text-align: center;
    font-size: 3vw;
    font-family: Work Sans, sans-serif;
    padding-top: 2.5%;
    text-decoration:underline
}

h4{
    text-align: center;
    font-size: 3vw;
    font-family: Work Sans, sans-serif;
    padding-top: 2.5%;
}

ul{
    line-height: 2;
    font-size: 20px;
    font-family: arial;
}

.fi img {
    width: 90vw;
    height: auto;
    padding: 5%;
}

.vdsg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.vdsg img{
    justify-content: center;
    align-items: center;
    width: 75%;
}

.phone img{
    padding-top:0%;
    padding-bottom:0%;
}

.link {
    text-align: center;
    padding-bottom: 5%;
}
