.top{
    display: flex;
    background-color: #736FFF;
    height: 20vw;
    text-align: center;
    font-family: 'Bungee', cursive; 
    color: white;
    line-height: 100%;
    align-items: center;
}

.titles{
    flex:3;
    text-align: center;
}

.logo{
    flex: 1;
}

.logo img{
    width: 70%;
    height: auto;
}

.container1{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
    font-family: Sanchez;
    flex-wrap: wrap;
    padding: 50px;
    background-color: #C0B4FF;
    column-gap: 2.5%;
    row-gap: 50px;
}

.product{
    flex:1;
    text-align: center;
    border-style: solid;
    min-height: 500px;
    min-width: 250px;
    max-height: 500px;
    max-width: 250px;
    background-color: white;
    color:#391BA0;
    padding-left: 5px;
    padding-bottom: 25px;
}

.product img{
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
}

.rating{
    color: black;
    text-shadow: 0 0 5px #736FFF;
    text-decoration: none;
}

.cartbutton{
    background-color:#391BA0;
    color: white;
    font-family:Bungee, cursive;
    border-radius: 12px;
    width: 50%;
}

.cartbutton:hover{
    cursor: pointer;
    background-color:#736FFF;
}

.cartbutton:active{
    cursor: pointer;
    transform: translateY(5px);
}

.pages {
    min-width: 100%;
}

.container2{
    display:flex;
    flex-direction: row;
    font-family: Oswald;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:#C0B4FF;
}

.pagination{
    display:flex;
    flex-direction: row;
    font-family: Oswald;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #C0B4FF;
    column-gap: 5px;
}

.navbarbutton {
    width: 100%;
    height: 100%;
    border-style: solid;
    background:white;
    font-size: 4vw;
    font-family: Oswald;
    color: #391BA0;
    border-radius: 5px;
}

.navbarbutton:hover{
    background-color:#391BA0;
    color: white;
    cursor: pointer;
    transform: translateY(-4px);
    text-decoration: underline;
}

.navbarbutton:active {
    background-color:#391BA0;
    color: white;
    transform: translateY(2px);
  }

  .bar {
    flex: 1;
    border: none;
    text-align: center;
    float:left;
    background: white;
    padding: 0%;
    margin: 0%;
    border: none;
}

.pagebutton {
    width: 50px;
    height: 50px;
    border-style: solid;
    background:white;
    font-size: 20px;
    font-family: Oswald;
}

.pagebutton:hover{
    background-color:#736FFF;
    cursor: pointer;
    transform: translateY(-2px);
    text-decoration: underline;
    font-weight: 900;
    font-size: 25px;
}

.pagebutton:active {
    background-color: #736FFF;
    transform: translateY(5px);
  }

  .container3{
    display:flex;
    flex-direction: row;
    font-family: Oswald;
    flex-wrap: wrap;
    background-color: 	#C0B4FF;
    column-gap: 5%;
    padding: 1%;
}

/*CSS CODE FOR ON CLICK DROPDOWN BUTTON INSPIRED FROM https://www.w3schools.com/howto/howto_js_dropdown.asp */

/* Dropdown Button */
.dropbtn {
    background-color: #391BA0;
    color: white;
    padding: 16px;
    font-size: calc(1.5vw + 5px);
    border: none;
    cursor: pointer;
    border-radius: 12px;
    width: calc(20% + 70px);
    margin-left:10%;
    font-family:Bungee, cursive;
  }

  .dropbtn:active {
      transform: translateY(4px);
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:#736FFF;
    text-decoration: underline;
  }
  
  .dropdown {
    flex: 1;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: calc(20% + 70px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left:10%;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5% 2.5%;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: Bungee, Cursive;
    font-size:calc(1vw + 5px);
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:#736FFF;
    color: white;
    cursor: pointer;
}
  
  .show {display:block;}

  
.iconbtn {
    margin-right: auto;
    background-color: #C0B4FF;
    border: none;
    color:#391BA0; 
    font-size: 250%;
    cursor: pointer; 
  }
  
  .iconbtn:hover {
    color: #736FFF;
    box-shadow: 0 5px #736FFF;
    transform: translateY(-2px);
  }

  .iconbtn:active {
    color:#736FFF;
    transform: translateY(2px);
    box-shadow: 0 5px #736FFF;
  }

  .container4{
    display:flex;
    border: solid;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #736FFF;
    color: white;
  }

  .text {
    flex: 1;
    font-family: Oswald;
    column-gap: 5%;
    min-height: 250px;
    min-width: 250px;
  }

  .text img{
    width: 10%;
    min-height: 50px;
    min-width: 125px;
  }

  h1{
    font-size: 5vw;
    padding-top: 5%;
  }

  h2{
    font-family: 'Work Sans', sans-serif;
    font-size:calc(1vw + 5px);
    line-height: 1;
  }

  h3{
    font-family: 'Work Sans', sans-serif;
  }

  h3:hover{
    text-decoration:underline;
    font-family: 'Work Sans', sans-serif;
  }

  h4{
    font-family: 'Work Sans', sans-serif;
    font-size: calc(1vw + 20px);
    text-decoration:underline;
  }
